/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 5px 30px;
    background-color: aqua;
}
.menu-link a {
    color: #666666;
    padding-left: 7px;
}
li {
    list-style-type: none;
}
input[type="submit"] {
    margin: 5px 2px;
}
.notice {
    color: #666666;
    font-size: 16px;
    padding-top: 20px;
}
#alert-wrapper {
    color:  #FF0000;
    font-size: 18px;
}
#alert-wrapper p {
    padding: 0px;
    margin-bottom: 0px;
}

#alert-wrapper ul {
    padding-bottom: 20px;
}

.field_with_errors label {
    color:  #FF0000;
}

.field_with_errors input {
    border-color:  #FF0000;
    border: solid;
}
