/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.black {
    color: black;
}
.red {
    color: #BF1919;
}
.green {
    color: #8EB43F;
}
.enabled {
    color: #2E2F30;
    cursor: pointer;
}
.disabled {
    color: #DADADA;
    background-color: #666666;
    cursor: auto;
}
.control {
    border: solid;
    text-decoration: none;
}

div#streamingPlace {
    padding: 10px 30px;
    border: solid;
    border-color: #666666;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
}