/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.black {
    color: black;
}
.red {
    color: #BF1919;
}
.green {
    color: #8EB43F;
}