<div>
  <span class="menu-link">
  <%- if controller_name != 'application' %>
  <%= link_to "Home page", '/' %>
  <% end -%>
    </span>
  <span class="menu-link">
  <%- if user_signed_in? && controller_name != 'word' %>
      <%= link_to "Stream words", 'word/stream' %>
  <% end -%>
    </span>
  <%= render "devise/shared/devise_links" %>
</div>