
<div>
  <%= render "devise/shared/devise_links" %>
  <%- if controller_name != 'applications' %>
  <%= link_to "Home page", '/' %><br />
  <% end -%>
  <%- if user_signed_in? && controller_name != 'word' %>
      <%= link_to "Stream words", 'word/stream' %><br />
  <% end -%>
</div>