<h1>Hi</h1>

<p>Hi! This is a place where you can read text really quick.<br/>
Just sign up, paste url where that text is hosted and you'll read it in no time!</p>
<p>For example, our users have so far read the following sites:</p>
<ul>
<% @texts.each do |text| %>
  <li><%= text.url%></li>
<% end %>
</ul>